[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = warning

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = suggestion

# RCS1090: Add call to 'ConfigureAwait' (or vice versa).
dotnet_diagnostic.RCS1090.severity = error
